img {
  max-height: 200px;
  max-width: 150px;
  margin-right: 10px;
  margin-left: 10px;
}
#beautiful {
  float: left;
  clear: right;
}
#design {
  float: right;
  font-size: small;
  margin-right: 10px;
}
#develop {
  float: right;
  font-size: small;
  margin-right: 50px;
}
#construction{
  margin-bottom: 250px;
  clear: right;
}
#logo{
  height:20px;
  width:auto;
}
h4{
  float: right;
}
span{
  color: blue;
}
.name{
  font-size: 1.5em;
  color: black;
}
body{
  background-color: #faf9f6;
  font-family: "Poppins", sans-serif;
}
